# URL base de la API (MockAPI o JSON Server)
# MockAPI: https://6a178a231878294b597b885c.mockapi.io/prueba/products
# JSON Server local: http://localhost:3001/products
VITE_API_URL=https://6a178a231878294b597b885c.mockapi.io/prueba/products
# URL base de la API (MockAPI o JSON Server)
# MockAPI: https://6a178a231878294b597b885c.mockapi.io/prueba/products
# JSON Server local: http://localhost:3001/products
VITE_API_URL=https://6a178a231878294b597b885c.mockapi.io/prueba/products
